
:root {
  --dark-border: #101010;


  --base: #2D353A;

  --light-grey-bg: #BEBEBE;
  --grey-bg: #222222;
  --dark-bg: #080808;



  --core-blue: #337ab7;
  --core-blue-intensive: #0f7cdb;


  --grey-text: #989898;
  --light-text: white;
  --blue-text: #337ab7;
}



.grey-text {color: var(--grey-text);}
.ligh-text {color: var(--light-text);}

.small-text {font-size: 14px;}
.medium-text {font-size: 18px;}
.big-text {font-size: 22px;}



/* body styling*/

.dark-body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--base);
  color: var(--grey-text);
  font-size: 18px;
}

.navbar-body {
  padding-top: 60px;
}





/* navbar styling*/

.navbar-fixed-top {
  min-height: 55px;
}




.dropdown-menu-right { 
    right: 0; 
    left: auto; 
}

.dropdown-menu {
  background-color: var(--dark-bg);
}

li.dropdown-item a{
  background-color: var(--dark-bg);
  color: var(--light-text);
}

li.dropdown-item a:hover {
  background-color: var(--grey-bg);
  color: var(--blue-text);
}



.btn-primary {
  background-color: var(--core-blue);
}

.btn-primary:hover {
  background-color: var(--core-blue-intensive);
}



a {
  outline: none;
}



.sidebar-dark {
  background-color: var(--grey-bg);
  border-color: var(--dark-border);
}

nav.sidebar-dark ul li a {
  color: var(--blue-text)
}

nav.sidebar-dark ul li a:hover {
  background-color: var(--dark-bg);
  color: var(--grey-text);
}