
:root {
  --dark: #343a40;
  --core-blue: #337ab7;
  --core-blue-intensive: #0f7cdb;

  --prime_color-bg: #222423; /* dark grey */

  --sidebar-dropdown: #262626;

  --grey-text: #989898;
  --light-text: #DBF3FF; /* almost white */
}



.grey-text {color: var(--grey-text);}
.ligh-text {color: var(--light-text);}

.small-text {font-size: 14px;}
.medium-text {font-size: 18px;}
.big-text {font-size: 22px;}



/* body styling*/

.dark-body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--prime_color-bg);
  color: var(--grey-text);
  font-size: 18px;
}

.navbar-body {
  padding-top: 3%;
}





/* navbar styling*/

.navbar-fixed-top {
  height: 5%;
}

.dropdown-menu-right { 
    right: 0; 
    left: auto; 
}

.dropdown-item:hover {
  color: var(--grey-text) !important;
}

.contact-ul{
  list-style:none
}




/* sidebar styling*/

ul.nav a:hover { 
  background-color: var(--prime_color-bg) !important;
  color: var(--core-blue) !important;
}

.full-height-sidebar {
  height: 100%;
  position: fixed;
  padding-top: 5px;
  padding-bottom: 1px;
}


.btn-primary {
  background-color: var(--core-blue);
}

.btn-primary:hover {
  background-color: var(--core-blue-intensive);
}