{% extends 'base.html' %}

{% block head %}
    <title>
        IFTA process csv file
    </title>
{% endblock %}


{% block body %}

	<form action="{% url "Convert:upload_csv" %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
	{% csrf_token %}
		<div class="container">
		    
		    <div>
		        <input type="file" id="csv_file" required="True" name="csv_file" class="file bg-dark">
		        <button class="btn btn-primary">Convert</button>
		    </div> 
		</div>
	</form>
		
{% endblock %}