<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  	{% load staticfiles %}
  	<link rel="stylesheet" type="text/css" href="{% static 'Accounts/global.css' %}">

      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">IFTA</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-link" href="{% url 'Accounts:home'%}">Home</a></li>
              {% if user.is_authenticated %}
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a href="{% url 'Accounts:account'%}">Settings</a></li>
                  <li class="dropdown-item"><a href="{% url 'Accounts:signout'%}">Sign out</a></li>
                </ul>
              </li>
              {% else %}
                <li><a class="nav-link" href="{% url 'Accounts:signin'%}">Sign in</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

  	{% block head %}
  	{% endblock %}


  </head>


  <body class="dark-body navbar-body">

      <div class="container-fluid">
        <div class="row">

          <div class="col-sm-3 col-md-2 sidebar">
            <nav class="navbar navbar-default navbar-fixed-side sidebar-dark">
              <ul class="nav nav-sidebar">

                <li clas="sidebar-item"><a href="" class="sidebar-link">Overview</a></li>
                <li><a href="">Reports</a></li>
                <li><a href="">Analytics</a></li>
                <li><a href="">Export</a></li>
              </ul>
              <ul class="nav nav-sidebar">
                <li><a href="">Nav item</a></li>
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
                <li><a href="">More navigation</a></li>
              </ul>
              <ul class="nav nav-sidebar">
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>

              </ul>
            </nav>
          </div>
          <div class="main col-sm-9 col-lg-10" style="padding-top: 10px;">
            
          {% block body %}
          {% endblock %}

          </div>

        </div>
      </div>


      <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  </body>
</html>